h1{
    color: blueviolet;
    background-color: aquamarine;
}
h3{
    color: rgb(220, 42, 42);
}
p{
    color: aquamarine;
}
buttom{
    color: black;
    background-color: bisque;
}
body{
    background-color: palevioletred;
}